<!DOCTYPE html>
<html>
<head>
    <title>Help Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <h1>Help Page</h1>
    <h2>FAQ:</h2>
    <h3>What is the Difference Between the Three Question Types?</h3>
    <p>The open ended question type takes answers in the form of text. The range question type takes number answers in
        the range specified. The multiple choice question type takes answers in the form of options where the number of
        options to choose from is between 2 and 5.</p>
    <h3>How do I Create a Survey?</h3>
    <p>To create a survey click the "Click to start creating a survey here" option. In the text field at the top of the
        page enter the name you want to call your survey. To create your first question select the question type from
        the drop down menu below where it states "Select a question type".</p>
    <h4>&emsp;If the question selected is an OpenEnded type:</h4>
    <p>&emsp;Click the "Create Question" button and enter your question in the text field that just got created. Once
        the question is complete click the "Create Question" button again to successfully create &emsp;your question.</p>
    <h4>&emsp;If the question selected is a range question type:</h4>
    <p>&emsp;Click the "Create Question" button and enter your question in the text field that just got created. In the
        text field below enter the minimum and maximum range you would like the answers to &emsp;be. Once the question
        is complete click the "Create Question" button again to successfully create a question.</p>
    <h4>&emsp;If the question selected is a multiple choice type:</h4>
    <p>&emsp;Click the "Create Question" button and enter the number of choices you would like your question to have in
        the text field under the text prompt "Number of MC answers:". Then select the &emsp;"Create Question" button.
        Enter the question in the text field that just got created and enter the corresponding choices in the text
        fields following</p>
    <p>Once you have entered all the questions for your survey then click the "Create Survey Button". Your survey is
        now complete.</p>
    <h3>How do I Edit a Survey?</h3>
    <p>To edit a survey, you must be the survey creator. We do not give access to users to edit a survey they did not
        create. Click the “Click to edit a survey here” option which will take you to a list of surveys you have
        created. From the drop-down menu select the survey you would like to edit. Once the survey you would like to
        edit is selected in the drop-down menu select how you would like to edit the survey from the list of buttons
        below.</p>
    <p>&emsp;<strong>Edit Survey: </strong>This will give you the option to edit the survey questions you have created.</p>
    <p>&emsp;<strong>Close Survey: </strong>This will close the survey and stop users from entering answers.</p>
    <p>&emsp;<strong>View Survey Results: </strong>This will show the survey results for the survey selected.</p>
    <p>&emsp;<strong>Delete Survey: </strong>This will delete the entire survey selected.</p>

</body>
</html>