<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/scripts/mySurveys.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Mini-survey monkey</title>
</head>
<body>
<h2>List of my Surveys</h2>
<div>
    <select id = "surveyDropDown">
        <option th:each="survey : ${surveyDtoList}"
                th:value="${survey.id}"
                th:name="(${survey.isOpen} ? 'Open' : 'Closed')"
                th:text="${survey.name}+'-'+(${survey.isOpen} ? 'Open' : 'Closed')"></option>
    </select><br />
</div>
<div><br>
    <button onclick="editButton()">Edit Survey</button>
    <button onclick="closeSurvey()">Close Survey</button>
    <button onclick="viewResults()">View Survey Results</button>
    <button onclick="deleteSurvey()">Delete Survey</button>
    <button onclick="exportSurvey()">Export Survey</button>
</div>
</body>
</html>
