<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${surveyName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/scripts/viewResult.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css">
    <script type="text/javascript" src="/scripts/mySurveys.js"></script>
</head>
<body>
<!-- need to delay before each call to draw, else the google.visualization won't be ready-->
<!-- using setOnLoadCallback here does not seem to work-->
<div th:each="result : ${resultList}">
    <p th:text="${resultStat.count}+': '+${result.question}"></p><th:block th:switch="${result.questionType}">
    <div th:case="${T(application.models.QuestionDTO).OPENENDED}">
        <div th:each="answer : ${result.stringAnswers}">
            <p th:text="${answer}"></p>
        </div>
    </div>
    <div th:case="${T(application.models.QuestionDTO).RANGE}" th:id="'histogram'+${resultStat.count}">
        <script th:inline="javascript">
            setTimeout(function(){(drawHistogram('histogram[[${resultStat.count}]]', [[${result.chartData}]]))},400);
        </script>
    </div>
    <div th:case="${T(application.models.QuestionDTO).MULTIPLECHOICE}" th:id="'piechart'+${resultStat.count}">
        <script th:inline="javascript">
            setTimeout(function(){(drawPieChart('piechart[[${resultStat.count}]]', [[${result.chartData}]]))},400);
        </script>
    </div>
    </th:block>
    <hr>
</div>
<div id="nav-placeholder"></div>
<script>
    $(function(){
        $("#nav-placeholder").load("/navBar.html");
    });
</script>
<button onclick="back()">Back</button>
</body>
</html>