<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${surveyDto.name}"></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/scripts/answerSurvey.js"></script>
    <script type="text/javascript" src="/scripts/mySurveys.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css">
</head>
<body>
<!-- TODO: put some survey info here? -->
<!-- TODO: need replace *Stat.count with proper questionDto id-->
<form action="#" method="post" th:id = "${surveyDto.id}" onsubmit="return answerSurvey(event)">
<div th:each="questionDto : ${surveyDto.questions}">
    <p th:text="${questionDtoStat.count}+': '+${questionDto.question}"></p><th:block th:switch="${questionDto.questionType}">
        <label th:case="${T(application.models.dto.QuestionDTO).OPENENDED}">
            <textarea th:id="'q'+${questionDtoStat.count}" rows="10" cols="30" th:name="${questionDto.ID}"></textarea >
        </label>
        <label th:case="${T(application.models.dto.QuestionDTO).RANGE}">
            <input type="range" th:id="'q'+${questionDtoStat.count}" th:min="${questionDto.min}" th:max="${questionDto.max}" th:name="${questionDto.ID}"
                   oninput="this.nextElementSibling.value = this.value"/>
            <output th:text="${questionDto.min}">0</output>
        </label>
        <th:block th:case="${T(application.models.dto.QuestionDTO).MULTIPLECHOICE}">
            <label th:each="choice : ${questionDto.choices}">
                <input type="radio" th:name="${questionDto.ID}"
                           th:id="'q'+${questionDtoStat.count}+'c'+${choiceStat.count}"
                           th:value="${choiceStat.count}"/>
                <label th:text="${choice}"></label>
                <br>
            </label>
        </th:block>
    </th:block>
    <hr>
</div>
<input type="submit" value="Submit answers">
</form>
<button onclick="back()">Back</button>
<div id="nav-placeholder"></div>
<script>
    $(function(){
        $("#nav-placeholder").load("/navBar.html");
    });
</script>
</body>
</html>
